.profile {
    grid-area: main;
    background: seagreen;
    height: 100%;
}

.paper {
    margin-bottom: 20px;
}

.profileContainer {
    padding: 31px;
}

.profileImg {
    width: 100px !important;
    height: 100px !important;
    /*background: #C4C4C4;*/
    border-radius: 25px !important;
}

.rating {
    display: flex;
    flex-direction: column;

}