.main {
    grid-area: main;

    display: grid;
    grid-template-areas:
    'text pilt pilt'
    'text pilt otsing';
    grid-template-columns: 1fr 1fr;

    grid-auto-flow: dense;

    counter-reset: item;

    padding: 0 70px 0 70px
}

.meiegaLeiad {
    grid-area: text;
    margin-top: 120px;
    font-family: Helvetica Neue, serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 120px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 114, 62, 1);
}

.subHeader {
    max-width: 265px;
    font-family: Circular Std, serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    margin-bottom: 30px;
}

.main img {
    grid-area: pilt;
    position: absolute;
    object-fit: cover;
    width: 45%;
    z-index: -1;
    margin-left: -100px;
}

.search {
    grid-area: otsing;
    background: #FF455B!important;
    border-radius: 98px!important;
    color: white!important;
}

.register {
    margin-right: 15px;
    background-color: rgba(33, 150, 243, 1) !important;
    color: white!important;
    border-radius: 87px!important;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.card{
    width: auto;
    height: 550px;
    margin-bottom: 50px;
    background: #DEFFE5;
    box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}