body {
    background: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.card1,
.card2,
.card3 {
    position: absolute;
    border-radius: 5px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    will-change: transform;
}

.card1 {
    background-image: url(../img/clouds/1clouds1.png);

    position: absolute;
    width: 365px;
    height: 149px;
    left: 108px;
    top: 153px;

}

.card3 {
    background-image: url(../img/clouds/1clouds22.png);
    position: absolute;
    width: 176px;
    height: 65px;
    left: 1037px;
    top: 382px;
    /*z-index: 1;*/

}

.card2 {
    background-image: url(../img/clouds/1clouds21.png);
    position: absolute;
    width: 283px;
    height: 107px;
    left: 1545px;
    top: 396px;
}

/*.container {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/
