.header {
    grid-area: header;

    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 2fr 1fr;
    /*grid-template-columns: repeat(auto-fit, minmax(2fr, 2fr));*/
    align-items: center;
    text-align: center;

}

.logo {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 130px;
}

.nav {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}

.nav a {
    font-family: "Helvetica Neue", serif;
    font-weight: 450;
    margin: 0 7px 0 7px;
    color: rgba(24, 25, 31, 1);
    text-decoration: none
}
