.header {
    grid-area: header;
    margin-top: 20px;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 2.3fr .7fr;
    /*grid-template-columns: repeat(auto-fit, minmax(2fr, 2fr));*/
    align-items: center;
    text-align: center;
    height: 100%;

    justify-items: start;
}


.logo {
    width: 100%;
    height: auto;
    max-width: 189px;
}

.nav {
    /*display: grid;*/
    /*grid-auto-rows: auto;*/
    /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr;*/
    /*text-align: center;*/

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    font-family: "Helvetica Neue", serif;
    font-weight: 450;
    margin: 0 7px 0 7px;
    color: rgba(24, 25, 31, 1);
    text-decoration: none
}

.selected {
    font-weight: bold!important;
    color: rgba(45, 192, 150, 1)!important;
}

@media (min-width: 320px) and (max-width: 480px) {
    .header {
        grid-area: header;
        margin-top: 40px;
        align-items: center;
        text-align: center;
    }
    .nav a {
        display: none;
    }
    .nav {
        display: none;
    }
    .logo {
        height: auto;
        width: 100%;
        text-align: center;
    }
}