.register {
    grid-area: main;
    background: cornflowerblue;
    height: 100%;
}

.checkBoxErr {
    border: 1px red solid!important;
    border-radius: 4px!important;
    padding-left: 9px;
}

.checkBoxTextErr {
    margin-left: 14px;
    color: #f44336;
    font-size: 0.75rem;
    margin-top: 3px;
}