.footer {
    grid-area: footer;
    display: grid;
    grid-template-rows: 1fr  1fr;
    grid-auto-columns: auto;
    padding-top: 40px;
}
.footerNav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.footerNav div {
    justify-content: center;
    grid-column-start: 1;
    align-items: center;
}
.footer a {
    color: rgba(81, 81, 81, 10);
    font-weight: 350;
}
.divider {
    border-bottom: 1px solid #FFF;
    background: #515151;
    opacity: 0.2;
    height: 2px;
}
.socialLinks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
}
.socialLinks a {
  float: right;
}

