.search {
    grid-area: main;

    display: grid;
    grid-template-columns: 25% 1fr;
}

.filter {
    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: .5rem;
    background: rgba(255, 255, 255, 1);
    width: 260px;
    margin-right: 15px;
    box-shadow: 2px 5px 4px 0 rgba(0, 0, 0, 0.25);

    height: fit-content;
}

.results {
    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: .5rem;
    background: rgba(255, 255, 255, 1);
    width: 100%;
    box-shadow: 2px 5px 4px 0 rgba(0, 0, 0, 0.25);

}

.checkboxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.filterPadding {
    padding: 30px;
}

.checkbox {
    margin-top: 20px;
}


.card {
    border: 1px solid rgba(228, 231, 240, 1);
    background: rgba(255, 255, 255, 1);
    width: 740px;
    /*height: 281px;*/
    border-radius: 16px;
    margin-bottom: 32px;
    padding: 15px 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.resultsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    border: 1px solid rgba(228, 228, 228, 1);
    border-radius: 8px;
    margin-top: 20px;

}

.cardInfo {
    display: grid;
    grid-template-columns: 60% 40%;
}

.userInfo {
    display: grid;
    /*grid-template-areas:*/
    /*'img name rating'*/
    /*'img desc desc';*/

    grid-template-columns: [img] 15% [name] 30% [rating] 25%;
    grid-auto-flow: row;
}

.hashtags {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hashtag {
    background: #E1FAF3;
    border-radius: 2px;
    padding: 2px 5px;
    height: 21px;
    margin-right: 20px;
}

.userImg {
    width: 50px;
    height: 50px;
    background: #C4C4C4;
    border-radius: 4px;

    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;


}

.userName {

    grid-column: name;
    grid-row: auto;
}

.userRating {

    grid-column: rating;
    grid-row: auto;
}

.userRating > img{
    width: 20px;
}

.userDesc {
    grid-row-start: 2;
    grid-column-start: 2;
}

.leftSideInfo {
    display: grid;
    grid-template-rows: 2fr 1fr;
    gap: 10%;
}