
.paper {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: "Helvetica Neue", serif !important;
}

.avatar {
    margin: 8px;
    background-color: rgba(45, 192, 150, 1)!important;
}

.form {
    width: 100%;
    margin-top: 8px;
}

.submit {
    margin: 24px 0 16px !important;
}

