.bottomNav {
    display: flex;
    position: relative;
    height: 60px;
    border: 1px solid black;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.bottomItems {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 50%;
    font-family: Helvetica Neue, serif;
    height: 100%;
}
.bottomItem1 {
    top: 50%;
    width: 100%;
    text-align: center;
}
.bottomItem2 {

    width: 100%;
    text-align: center;
}
.bottomItem3 {
    width: 100%;
    text-align: center;
}